table:last-child .name {
  text-transform: capitalize;
}

table:last-child .even {
  background: #F2F6FA;
}

table:last-child .odd {
  background: #E8EDF4;
}

table:last-child tr:hover {
  background: #E2E5E9;  
}

table:last-child #a {
  width: 110px;
}

table:last-child #b {
  width: 135px;
}

table:last-child #c {
  width: 193px;
}

table:last-child #d {
  width: 115px;
}